<html ng-app="myConversorApp">

<head>
    <title>Conversor</title>
    <script src="vendor/jquery-3.2.1.min.js"></script>
    <script src="vendor/bootstrap.min.js"></script>
    <script src="vendor/angular.min.js"></script>
    <script src="app.js"></script>
    <link href="vendor/bootstrap.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
</head>

<body ng-controller="myConversorController">
    <div class="row">
        <h1>Conversor de Bases</h1>
        
    </div>
    <div class="row">
        <div class="col-lg-6" id="input">
            <div class="input-group">
                <input type="text" name="value" ng-model="input.value" class="form-control" ng-keydown="teste($event)">
                <select class="selectpicker" ng-model="inputType">
                    <option value="10" selected="selected">Decimal</option>
                    <option value="2">Binário</option>
                    <option value="8">Octadecimal</option>
                    <option value="16">Hexadecimal</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row conversion">
        <div class="col-sm-12 col-lg-4" ng-hide="inputType == 10">
            <div class="wrapper decimal">
                <strong>Decimal</strong> 
                 <span>{{typeToConvert.toDecimal(input.value)}}
            </div>
        </div>
        <div class="col-sm-12 col-lg-4" ng-hide="inputType == 2">
            <div class="wrapper binario">
                <strong>Binario</strong>
                <span>{{typeToConvert.toBinary(input.value)}}</span>
            </div>
        </div>
        <div class="col-sm-12 col-lg-4" ng-hide="inputType == 8">
            <div class="wrapper octal">
                <strong>Octal</strong>
                 <span>{{typeToConvert.toOctal(input.value)}}</span>
            </div>
        </div>
        <div class="col-sm-12 col-lg-4" ng-hide="inputType == 16">
            <div class="wrapper hexa">
                <strong>Hexadecimal</strong>
                 <span>{{typeToConvert.toHexadecimal(input.value)}}</span>
            </div>
        </div>
    </div>
</body>

</html>